<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="WHSystemEntities" connectionString="metadata=res://*/WH_System.csdl|res://*/WH_System.ssdl|res://*/WH_System.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=InventorySystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SystemEntities" connectionString="metadata=res://*/Model1WH_System.csdl|res://*/Model1WH_System.ssdl|res://*/Model1WH_System.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=InventorySystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NSystemEntities" connectionString="metadata=res://*/WareHouseModel.csdl|res://*/WareHouseModel.ssdl|res://*/WareHouseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WareHouseSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>